<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-body">
        <h4>Seleccione el tema</h4>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li>
              <a
                data-theme="default"
                class="selector default-theme"
                (click)="changeTheme('default')"
                >1</a
              >
            </li>
            <li>
              <a
                data-theme="green"
                class="selector green-theme"
                (click)="changeTheme('green')"
                >2</a
              >
            </li>
            <li>
              <a
                data-theme="red"
                class="selector red-theme"
                (click)="changeTheme('red')"
                >3</a
              >
            </li>
            <li>
              <a
                data-theme="blue"
                class="selector blue-theme"
                (click)="changeTheme('blue')"
                >4</a
              >
            </li>
            <li>
              <a
                data-theme="purple"
                class="selector purple-theme"
                (click)="changeTheme('purple')"
                >5</a
              >
            </li>
            <li>
              <a
                data-theme="megna"
                class="selector megna-theme"
                (click)="changeTheme('megna')"
                >6</a
              >
            </li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li>
              <a
                data-theme="default-dark"
                class="selector default-dark-theme"
                (click)="changeTheme('default-dark')"
                >7</a
              >
            </li>
            <li>
              <a
                data-theme="green-dark"
                class="selector green-dark-theme"
                (click)="changeTheme('green-dark')"
                >8</a
              >
            </li>
            <li>
              <a
                data-theme="red-dark"
                class="selector red-dark-theme"
                (click)="changeTheme('red-dark')"
                >9</a
              >
            </li>
            <li>
              <a
                data-theme="blue-dark"
                class="selector blue-dark-theme"
                (click)="changeTheme('blue-dark')"
                >10</a
              >
            </li>
            <li>
              <a
                data-theme="purple-dark"
                class="selector purple-dark-theme"
                (click)="changeTheme('purple-dark')"
                >11</a
              >
            </li>
            <li>
              <a
                data-theme="megna-dark"
                class="selector megna-dark-theme"
                (click)="changeTheme('megna-dark')"
                >12</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
